/* Structure */
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .example-form {
    min-width: 150px;
    /* width: 100%; */
    margin-left: 25px;
    margin-right: 25px;
  }
  
  .example-full-width {
    width: 100%;
  }

  .view-button-foreground{
    color: rgb(138, 138, 19);
  }
